.thumbnail-img {
    height: 370px;
    object-fit: cover;
  }

  .cover-img {
    height: 450px;
    // width: 452px;
    object-fit: cover;
  }

  .blog-category-thumb {
    height: 60px;
    width: 60px;
    object-fit: cover;
  }
