.thumbnail-img {
    height: 370px;
    object-fit: cover;
  }

  .cover-img {
    height: 450px;
    // width: 452px;
    object-fit: cover;
  }

  .blog-category-thumb {
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  .expired-ribbon {
    position: absolute;
    top: 15px;
    right: -40px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 0px 55px;
    font-size: 14px;
    z-index: 2;
    transform: rotate(45deg);
}