
  .bi-sidebar {
    color: #506690 !important;
  }

  .hk_active {
    background-color: #f8edeb !important;
    color: #000000 !important;
    font-weight: bold !important;
    border-radius: 8px;
  }

  
